@import 'styles/palette.scss';

.TrackingDriverInfo {
  width: 100%;
  padding: 1vw;
  border-bottom: 1px solid $gray_C4C4C4;
  display: flex;
  background-color: white;
  cursor: pointer;
  transition: all 0.25s ease;

  &:hover {
    background-color: darken($color: $white_FFFFFF, $amount: 10);
  }
  &:active {
    background-color: darken($color: $white_FFFFFF, $amount: 15);
  }

  &-selected {
    background-color: darken($color: $white_FFFFFF, $amount: 10);
  }

  &-DriverName {
    width: 15%;
  }

  &-PhoneNumber {
    width: 20%;
    margin-right: 2.5%;
  }

  &-TruckNumber {
    width: 20%;
    margin-right: 2.5%;
  }

  &-TotalCount {
    width: 25%;
  }
}
