.PureRadio {
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 0.5em;
  font-size: 1rem;
  color: #e2e8f1;
  cursor: pointer;
  align-items: center;
  user-select: none;
  &-Pinput {
    display: grid;
    grid-template-areas: 'PureRadio';
    & > input:checked + .PureRadio-Pcontrol svg {
      transform: scale(1);
    }

    & > input:focus + .PureRadio-Pcontrol {
      box-shadow: 0 0 0 0.05em #fff, 0 0 0.15em 0.1em currentColor;
    }
    > * {
      grid-area: PureRadio;
    }
    input {
      opacity: 0;
      width: 1em;
      height: 1em;
    }
  }

  &-Pcontrol {
    display: inline-grid;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 0.1em solid currentColor;
    & > svg {
      transition: transform 0.1s ease-in 25ms;
      transform: scale(0);
      transform-origin: bottom left;
    }
  }
}
