@import 'styles/palette.scss';

.DeliveryStatusListItemElement {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1vw 0vw;
  border-bottom: 1px solid $gray_C4C4C4;
  font-size: 13px;
  font-weight: 400;

  &-DriverId {
    width: 15%;
    height: 100%;
  }

  &-ClientId {
    width: 15%;
    height: 100%;
  }

  &-StartAddress {
    width: 35%;
    height: 100%;
    margin-right: 5%;
    word-break: break-all;
  }

  &-Product {
    width: 32.5%;
    word-break: break-all;
  }
}
