@import 'styles/palette.scss';

.DriverTable {
  width: 60%;

  &-Util {
    display: flex;
    justify-content: space-between;

    &-Deny {
      margin-left: 5px;
    }
  }

  &-Table {
    width: 100%;
    border-collapse: collapse;

    thead {
      th {
        color: $gray_444444;
        padding: 20px 0;
        text-align: left;
        border-bottom: 1px solid $gray_F1F3F5;
      }
    }
  }
}