@import 'styles/palette.scss';

.ManageDeliveryListInnerItemTemplate {
  width: 100%;
  padding: 12px;
  font-size: 14px;
  color: $gray_666666;
  background-color: $white_FFFFFF;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $gray_F9F9F9;

  &-Client {
    width: 20%;
  }

  &-Driver {
    width: 20%;
  }

  &-Product {
    width: 30%;
  }

  &CreatedAt {
    width: 30%;
  }
}
