@import 'styles/palette.scss';

.ManageDeliveryListInnerItemTemplate {
  width: 100%;
  padding: 12px;
  font-size: 14px;
  color: $gray_666666;
  background-color: $white_FFFFFF;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $gray_F9F9F9;

  &-Client {
    width: 20%;
  }

  &-Driver {
    width: 30%;
  }

  &-Product {
    width: 30%;

    &-Select {
      border: 1px dashed $gray_C4C4C4;
      border-radius: 3px;
      padding: 2px;
      color: $gray_666666;
      min-width: 120px;

      &:focus {
        outline: none;
      }
    }
  }

  &-CreatedAt {
    width: 20%;
  }
}
