$white_FFFFFF: #ffffff;
$black_000000: #000000;
$blue_F4F7FB: #f4f7fb;
$blue_E5E5E5: #e5e5e5;
$blue_6685A8: #6685a8;
$blue_E2E8F1: #e2e8f1;
$gray_F1F3F5: #f1f3f5;
$gray_C4C4C4: #c4c4c4;
$gray_E6E6E6: #e6e6e6;
$brown_9C5C63: #9c5c63;
$orange_FCF8E5: #fcf8e5;
$yellow_FCF8E5: #fcf8e5;
