$white_FFFFFF: #ffffff;
$black_000000: #000000;
$blue_F4F7FB: #f4f7fb;
$blue_E5E5E5: #e5e5e5;
$blue_6685A8: #6685a8;
$blue_E2E8F1: #e2e8f1;
$gray_F1F3F5: #f1f3f5;
$gray_C4C4C4: #c4c4c4;
$gray_E6E6E6: #e6e6e6;
$brown_9C5C63: #9c5c63;
$orange_FCF8E5: #fcf8e5;
$yellow_FCF8E5: #fcf8e5;
$gray_444444: #444444;
$gray_666666: #666666;
$brown_9C5C63: #9c5c63;
$orange_FCF8E5: #fcf8e5;
$orange_FF8B3D: #ff8b3d;
$orange_FF6600: #ff6600;
$green_149414: #149414;
$blue_F5F7FA: #f5f7fa;
$blue_C4CBD6: #c4cbd6;
$blue_3F4452: #3f4452;
$mint_6BBDA8: #6bbda8;
$red_E47B7F: #e47b7f;
$blue_292C3A: #292c3a;
$gray_F9F9F9: #f9f9f9;
$green_A6D8AB: #a6d8ab;
$gray_C6C6C6: #c6c6c6;
