@import 'styles/palette.scss';

.DriverTableItem {
  background-color: $white_FFFFFF;
  width: 100%;
  font-size: 14px; 
  color: $gray_444444;
  border-bottom: 1px solid $gray_F1F3F5;

  td {
    padding: 10px 0;
    margin: 0 auto;
  }

  &-DeliveryCount {
    &-Completed {
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ffffff;
      width: 3rem;
      height: 1.5rem;
      background-color: $blue_6685A8;
      border-radius: 3px;
    }

    &-Delivery {
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ffffff;
      width: 3rem;
      height: 1.5rem;
      background-color: $orange_FF8B3D;
      border-radius: 3px;
    }
  }
}