@import 'styles/palette.scss';

.PageTemplate {
  display: flex;

  &-NavBar {
    z-index: 999;
    width: 4vw;
    height: 100vh;
    box-shadow: 0px 4px 15px rgba($color: #000000, $alpha: 0.25);
    display: flex;
    justify-content: center;

    &-ItemsWrapper {
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;

      & > * + * {
        margin-top: 100px;
      }

      &-Link {
        text-decoration: none;
        color: black;
      }

      &-Items {
        width: 100%;
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $black_000000;
        transition: all 0.25s ease;

        &-selectedItem {
          transition: all 0.25s ease;
          border-left: 4px solid $blue_6685A8;
          color: $blue_6685A8;
        }

        & > * {
          font-size: 2.3rem;
        }

        &:hover {
          border-left: 4px solid $blue_6685A8;
        }
      }
    }

    & > img {
      position: absolute;
      bottom: 10px;
    }
  }

  &-Children {
    width: 96vw;
    height: 100vh;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
