@import 'styles/palette.scss';

.TrackDriverInfoImageModal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  &-Wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.5);
    z-index: 20;
  }

  &-Modal {
    width: 640px;
    height: 440px;
    background-color: $white_FFFFFF;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 12;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 30;

    & > img {
      width: 100%;
      user-select: none;
      z-index: 30;
      cursor: pointer;
    }
  }
}
