@import 'styles/palette.scss';

.DriverDeliveryChart {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  width: 500px;
  margin: 0 auto;
  border: 1px solid $gray_C4C4C4;

  &-Title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    background-color: $gray_444444;
    color: $gray_F1F3F5;
  }

  &-Chart {
    margin: 0 auto;
    // color: $gray_444444;
  }
}