@import 'styles/palette.scss';

.AuthLogin {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $blue_E2E8F1;
  &-Wrapper {
    box-shadow: 1px 4px 24px rgba($color: #000000, $alpha: 0.1);

    width: 37.7vw;
    height: 39vh;
    background-color: $white_FFFFFF;
    border-radius: 5px;
    padding: 0vh 4.5959vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &-Title {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $gray_C4C4C4;
      font-weight: 500;
      font-size: 36px;
    }
  }
  &-InputWrapper {
    margin-top: 5.4vh;
    &-Input {
      width: 100%;
      height: 4.03vh;
      border-color: $blue_E2E8F1;
      border-radius: 5px;
    }

    & > * + * {
      margin-top: 1.2vh;
    }
  }
  &-ButtonWrap {
    margin-top: 3.5vh;
    &-Button {
      width: 100%;
      height: 4.787vh;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &-PureRadio {
    margin-top: 10px;
  }
}
